/Project Vampire/Library
/Project Vampire/Logs
/Project Vampire/obj
/Project Vampire/Assembly-CSharp-Editor.csproj
/Project Vampire/Assembly-CSharp.csproj
/Project Vampire/UserSettings
/Project Vampire/Logs
.DS_Store

