/Project Vampire/Library
/Project Vampire/Logs
/Project Vampire/obj
/Project Vampire/Assembly-CSharp-Editor.csproj
/Project Vampire/Assembly-CSharp.csproj
/Project Vampire/UserSettings
/Project Vampire/Logs
.DS_Store

/.vs
/Project Vampire/Assets/_TerrainAutoUpgrade
/Project Vampire/Temp
/Project Vampire/ProjectSettings/Packages/com.unity.testtools.codecoverage/Settings.json
/Project Vampire/ProjectSettings/PackageManagerSettings.asset
/Project Vampire/ProjectSettings/ProjectVersion.txt
/Project Vampire/UserSettings/EditorUserSettings.asset
/Project Vampire/Packages/packages-lock.json
/Project Vampire/Assembly-CSharp-Editor.csproj
/Project Vampire/Assembly-CSharp.csproj
/Project Vampire/Assembly-CSharp.Player.csproj
/Project Vampire/CFXR.WelcomeScreen.csproj
/Project Vampire/CFXRDemo.csproj
/Project Vampire/CFXRDemo.Player.csproj
/Project Vampire/CFXREditor.csproj
/Project Vampire/CFXRRuntime.csproj
/Project Vampire/CFXRRuntime.Player.csproj
/Project Vampire/KinoBloom.Runtime.csproj
/Project Vampire/KinoBloom.Runtime.Player.csproj
/Project Vampire/Project Vampire.sln
/Project Vampire/ToonyColorsPro.Demo.Editor.csproj
/Project Vampire/Unity.AI.Navigation.csproj
/Project Vampire/Unity.AI.Navigation.Editor.ConversionSystem.csproj
/Project Vampire/Unity.AI.Navigation.Editor.csproj
/Project Vampire/Unity.AI.Navigation.Player.csproj
/Project Vampire/Unity.AI.Navigation.Updater.csproj
/Project Vampire/Unity.CollabProxy.Editor.csproj
/Project Vampire/Unity.EditorCoroutines.Editor.csproj
/Project Vampire/Unity.Performance.Profile-Analyzer.Editor.csproj
/Project Vampire/Unity.PlasticSCM.Editor.csproj
/Project Vampire/Unity.Rider.Editor.csproj
/Project Vampire/Unity.Settings.Editor.csproj
/Project Vampire/Unity.TestTools.CodeCoverage.Editor.csproj
/Project Vampire/Unity.TestTools.CodeCoverage.Editor.OpenCover.Model.csproj
/Project Vampire/Unity.TestTools.CodeCoverage.Editor.OpenCover.Mono.Reflection.csproj
/Project Vampire/Unity.TextMeshPro.csproj
/Project Vampire/Unity.TextMeshPro.Editor.csproj
/Project Vampire/Unity.TextMeshPro.Player.csproj
/Project Vampire/Unity.Timeline.csproj
/Project Vampire/Unity.Timeline.Editor.csproj
/Project Vampire/Unity.Timeline.Player.csproj
/Project Vampire/Unity.VisualScripting.Core.csproj
/Project Vampire/Unity.VisualScripting.Core.Editor.csproj
/Project Vampire/Unity.VisualScripting.Core.Player.csproj
/Project Vampire/Unity.VisualScripting.Flow.csproj
/Project Vampire/Unity.VisualScripting.Flow.Editor.csproj
/Project Vampire/Unity.VisualScripting.Flow.Player.csproj
/Project Vampire/Unity.VisualScripting.SettingsProvider.Editor.csproj
/Project Vampire/Unity.VisualScripting.Shared.Editor.csproj
/Project Vampire/Unity.VisualScripting.State.csproj
/Project Vampire/Unity.VisualScripting.State.Editor.csproj
/Project Vampire/Unity.VisualScripting.State.Player.csproj
/Project Vampire/Unity.VisualStudio.Editor.csproj
/Project Vampire/Unity.VSCode.Editor.csproj
/Project Vampire/UnityEditor.TestRunner.csproj
/Project Vampire/UnityEditor.UI.csproj
/Project Vampire/UnityEngine.TestRunner.csproj
/Project Vampire/UnityEngine.TestRunner.Player.csproj
/Project Vampire/UnityEngine.UI.csproj
/Project Vampire/UnityEngine.UI.Player.csproj
*.meta
/Project Vampire/Assets/UnityAssets/stone_texture/scene.unity
/Project Vampire/Assets/UnityAssets/stone_texture/sceneSettings.lighting
/Project Vampire/Assets/UnityAssets/stone_texture/sceneSettings.lighting.meta
/Project Vampire/Assets/UnityAssets/stone_texture/Terrain.asset
/Project Vampire/Assets/UnityAssets/stone_texture/materials/stone_mat.mat
